body {
            background: white;
            text-align: center;
            padding-top: 100px;
            transition: 0.5s;
        }

        .dark {
            background: black;
            color: white;
        }

        button {
            padding: 10px 20px;
            font-size: 18px;
            cursor: pointer;
        }