*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
color: white;
}

body{
    height: 800vh;
    background-color: rgb(29, 27, 27);
    display: flex;
    justify-content: center;
}

.container{
    width: 50%;
    height: 100%;
    background-color: rgb(48, 47, 47);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.child1{
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: flex-start;
}

.image-div img{
width: 80px;
height: 80px;
border-radius: 50px;
margin-left: 40px;
margin-top: 10px;

}

.sub-div{
    margin-top: 15px;
    margin-left: 5px;
    font-weight: 600;
}

.name{
    font-size: 0.9rem;
    padding-top: 3px;
}

.count{
    font-size: 1.3rem;
    padding-top: 3px;
}

.total{
    font-size: 0.6rem;
    font-weight: 100;
    padding-top: 3px;
}
.divide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.analytics{
    margin-right: 230px;
    padding: 8px;
}

h3{
    font-size: 0.9rem;
}


h5{
    font-size: 0.6rem;
    font-weight: normal;
    opacity: 0.7;
}

.content{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
}

.analytic-section{
    width: 200px;
    height: 80px;
    background-color: rgb(32, 32, 32);
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.analytic-section h3{
font-size: 1.5rem;
}

.analytic-section h5{
font-size: 0.6rem;
}

.Update{
    padding: 8px 0px 8px 40px;
    font-size: 0.9rem;
    
}

.video0{
     width: 90%;
    height: 200px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
    margin-left: 25px;
     display: flex;
    flex-direction:column;
    justify-content: flex-start;
}

.video1{
    width: 100%;
    height: 100px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px;
     display: flex;
    flex-direction:row;
    justify-content: flex-start;
    align-items: center;
   
}

.video-image{
    width: 25%;
    height:100px ;
    padding-top: 10px;
    padding-left: 20px;
   

}

.video-image img{
    width: 80px;
    height: 80px;
    border-radius: 20px;
   
}

.text{
     width: 400px;
    height: 80px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

.time{
    font-size: 0.6rem;
    opacity: 0.6;
}

.view-count{
    height: 30px;
    display: flex;
    justify-content: flex-start;
    margin-left: 10px;
     margin-right: 10px;
    align-items: center;
    gap: 40px;
    font-size: 0.9rem;
    border-top: 2px solid rgb(51, 51, 51);
    border-bottom: 2px solid rgb(51, 51, 51);
}

.perform{
    width: 90%;
    height: 40px;
    background-color: rgb(44, 41, 41);
    margin-left: 25px;
    margin-top: 10px;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

