body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iphone{
width: 290px;
height: 570px;
background-color: rgb(219, 132, 17);
border-radius: 40px;
border: 1px solid rgb(0, 0, 0);
}

.camera-celtor{
    width: 100px;
    height: 100px;
    background-color: rgb(95, 83, 83);
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
    display: flex;
    gap: 1px;

}

.camera{
    width: 40px;
    height: 40px;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.camera1{
    margin-top: 55px;
}

.camera2{
    margin: 5px;
}

.lence{
    width: 50%;
    height: 50%;
    background-color: rgb(14, 15, 15);
    border-radius: 50px;
}
.imge{
    width: 85%;
    height: 69%;
    background-color: rgb(204, 118, 5);
    margin: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    border: 0.1px solid rgb(190, 96, 8);
}

img{
    width: 100px;
}