*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 200vh;
    height: 130px;
    background-color: rgb(17, 13, 13);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    font-size: 2rem;
   
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

@media(min-width:500px){
    .container{
        width: 100vh;
        height: 65px;
        background-color: rgb(7, 7, 15);
    }

    .child{
        
        font-size:1rem ;
    }
}
@media(max-width:400px){
.container{
    width: 100px;
   height: 400px;
    flex-direction: column;
    background-color: rgb(3, 63, 40);
}

.child{
 flex-direction: column;
 font-size: 1rem;
}
}

@media(min-width:700px) and (max-width:800px){
.container{
    width: 100vh;
   height: 200px;
    flex-direction: row;
    background-color: rgba(10, 59, 167, 0.589);
}

.child{
 flex-direction: row;
 font-size: 1.5rem;
}

a{
    color: rgba(0, 8, 2, 0.651);
}
}
