*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 200vh;
    height: 130px;
    background-color: rgb(17, 13, 13);
    border: 1px solid black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.child{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;  
    font-size: 2rem;
   
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

@media(max-width:500px){
    .container{
        width: 100vh;
        height: 65px;
        background-color: rgb(7, 7, 15);
    }

    .child{
        
        font-size:1rem ;
    }
}