*{
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 800px;
    height: 800px;
    background-color: rgb(207, 207, 154);
    display: grid;
    grid-template-rows: 1fr 2fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;

}

.item{
    background-color: green;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 20px;
   color: white;
   font-size: 1.5rem;
}

.Header{
    grid-column: 1/4;
    background-color: black;
}

.Hero{
    grid-column: 1/4;
     background-color: rgb(145, 255, 0);
     gap: 20px;
}

.ank{
    background-color: yellow;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
   
}


.Menu{
    grid-row: 3/6;
     background-color: rgb(3, 236, 205);
}


.Main{
    grid-column: 2/4;
     background-color: rgb(14, 68, 185);
}

.Banner{
    grid-column: 2/4;
     background-color: rgb(61, 12, 177);
}