.container{
    height: 100vh;
    width: 100vw;
    background-color: rgb(32, 34, 36);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(121, 118, 118);
}

.child{
    height: 60%;
    width: 20%;
    background-color: rgb(139, 115, 115);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(121, 118, 118);
}

.cont{
    height: 100px;
    width: 200px;
    background-color: rgb(130, 214, 73);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(121, 118, 118);
    margin-bottom: 20px;
}

.Ank{
    height: 20px;
    width: 50px;
     background-color: rgb(214, 165, 73);
     border: 1px solid rgb(54, 52, 52);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;

}

.yad{
     height: 20px;
    width: 50px;
     background-color: rgb(214, 165, 73);
     border: 1px solid rgb(54, 52, 52);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
}

.mid{
      height: 70px;
    width: 150px;
    background-color: rgb(102, 231, 16);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(121, 118, 118);
    margin-bottom: 20px;
    
}

.chil{
     height: 100px;
    width: 200px;
    background-color: rgb(130, 214, 73);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgb(121, 118, 118);
}

.log{
height: 20px;
    width: 50px;
     background-color: rgb(214, 165, 73);
     border: 1px solid rgb(54, 52, 52);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
}

.sig{
height: 20px;
    width: 50px;
     background-color: rgb(214, 165, 73);
     border: 1px solid rgb(54, 52, 52);
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 5px;
}

.mid a{
    text-decoration: none;
    color: rgb(10, 6, 255);
}