*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Arial;
}

:root{
    --background-color: rgba(5, 5, 5, 0.89);
   --color: white;
   --container:rgb(121, 119, 119);
   --Child:rgb(92, 90, 90);
   --border:rgba(83, 77, 77, 0.911);

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:var(--background-color)
}

.container{
    width: 300px;
    background-color: var(--container);
    border-radius: 20px;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color);
    border: 1px solid wheat;
}

.ContainerImg{
    width:70px;
    height: 70px;
    background-color: black;
    border-radius: 50px;
    border: 4px solid rgba(18, 198, 230, 0.541);
    box-shadow: 10px -0.1px 40px rgb(236, 233, 233);
}

.Containerheading{
    padding: 7px 0px;
}

.containerP{
    font-size: 0.6rem;
    text-align: center;
    padding-bottom: 20px;
}

.Container2{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    background-color: rgba(0, 0, 255, 0);
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
}

.child1{
    width: 70px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--Child);
    border-radius: 10px;
    padding: 10px;
    border: 0.9px solid skyblue;
}

h1{
    font-size: 1.2rem;
    padding: 0px 0px;
    color: white;
}

p{
    font-size: 0.6rem;
    font-weight: 500;
    color: white;
}

.Container3{
display: flex;
justify-content: center;
align-items: center;
width: 100%;
gap: 10px;
}

.child2{
    width: 80x;
    height: 60px;
    background-color: var(--Child);
    padding: 0px 33.5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color:var(--color);
    font-weight: 600;
    font-size: 0.8rem;
    border-radius: 10px;
    border: 1px solid skyblue;
}

button{
    width: 100%;
    padding: 10px;
    margin-top: 40px;
    border-radius: 50px;
    border: none;
}