.container {
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#child {
    height: 50%;
    width: 20%;
    background-color: hwb(0 15% 83%);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.chil {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: hwb(0 15% 83%);
    margin-bottom: 30%;


}

#eye1 {
    height: 60px;
    width: 60px;
    background-color: rgb(226, 208, 208);
    border: 2px solid black;
    border-radius: 20px;
    


}

#eye2 {
    height: 60px;
    width: 60px;
    background-color: rgb(226, 208, 208);
    border: 2px solid black;
    border-radius: 20px;

}

.mouth{
    width: 100%;
    height: 20%;
    background-color:hwb(0 15% 83%);
    border-radius: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mout {
    height: 30%;
    width: 50%;
    background-color: rgb(226, 208, 208);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.neck{
    width: 80px;
    height: 90px;
    background-color: rgb(31, 27, 22);
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}