.container {
    height: 100vh;
    width: 100vw;
    border: 2px solid black;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#child {
    height: 50%;
    width: 20%;
    background-color: hwb(0 15% 83%);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.chil {
    height: 20%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-color: hwb(0 15% 83%);
    margin-bottom: 60%;


}

#eye1 {
    height: 60px;
    width: 60px;
    background-color: rgb(226, 208, 208);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;


}

#eye2 {
    height: 60px;
    width: 60px;
    background-color: rgb(226, 208, 208);
    border: 2px solid black;
    border-radius: 20px;

}

#div3 {
    height: 20%;
    width: 20%;
    background-color: rgb(226, 208, 208);
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}