body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    background: #222;
    color: white;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    width: 300px;
}

.card img{
    width: 100px;
    border-radius: 50%;
}

button{
    padding: 10px 20px;
    border: none;
    background: orange;
    cursor: pointer;
}

@media(max-width:600px){
    .card{
        width: 90%;
        background: darkblue;
    }
}

@media(max-height:500px){
    .card{
        padding: 10px;
    }

    .card img{
        width: 60px;
    }

    h2, p{
        font-size: 14px;
    }
}